<section class="contenido">

    <!-- SPOTIFY -->

    <div class="card-custom">

        <h3>Influencias Musicales</h3>

        <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/album/3EbtMJsHbspjhN6Xd4plIu?utm_source=generator&theme=0"
            width="100%"
            height="352"
            frameborder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
        </iframe>

    </div>

    <!-- YOUTUBE -->

    <div class="card-custom">

        <h3>Influencias Musicales</h3>

        <iframe
            width="100%"
            height="315"
            src="https://www.youtube.com/embed/Nvnfi_ZBXxA?si=7bQ-J6dK2Y9dysPv"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>

    </div>

</section>