<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">

    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="#">

            <img src="https://res.cloudinary.com/del53lxcg/image/upload/v1779935643/ChatGPT_Image_27_may_2026_09_00_07_p.m._ldkols.png"
                alt="Logo"
                width="100"
                class="me-3 logo-navbar">

            <div>

                <h2 class="nombre-navbar">
                    Mateo Constante
                </h2>

                <p class="subtitulo-navbar">
                    Ingeniería en Sonido y Acústica
                </p>

                <p id="texto-animado"></p>

                <button onclick="cambiarTema()" class="tema-btn">
                    Cambiar Tema
                </button>

            </div>

        </a>

    </div>

</nav>