<section class="perfil">

    <div class="descripcion">

        <h2>Sobre mí</h2>

        <p>
            Músico profesional, estudiante de Ingeniería en Sonido y Acústica.
            Me apasiona la música, el audio profesional y el desarrollo de proyectos tecnológicos relacionados con el sonido.
        </p>

        <div class="botones">

            <a href="https://www.youtube.com/@mateoconstante3119" target="_blank">
                YouTube
            </a>

            <a href="https://open.spotify.com/user/21fegckesu4iuu7u4i5c5mjjy" target="_blank">
                Spotify
            </a>

            <a href="https://wa.me/593984217666" target="_blank">
                Contacto
            </a>

        </div>

    </div>

</section>